[submodule "Font-Awesome"]
	path = Font-Awesome
	url = git@github.com:FortAwesome/Font-Awesome
[submodule "YosemiteSanFranciscoFont"]
	path = YosemiteSanFranciscoFont
	url = git@github.com:supermarin/YosemiteSanFranciscoFont
[submodule "i3"]
	path = i3-gaps
	url = git@github.com:o4dev/i3
